<nav style="display: flex; justify-content: right;">
  <a style="text-decoration: none; color: blue; padding: 0 8px;" href="/">Home</a>
  <a style="text-decoration: none; color: blue; padding: 0 8px;" href="/menu">Full Menu</a>
  <a style="text-decoration: none; color: blue; padding: 0 8px;" href="/menu/mains">Mains</a>
  <a style="text-decoration: none; color: blue; padding: 0 8px;" href="/menu/desserts">Desserts</a>
  <a style="text-decoration: none; color: blue; padding: 0 8px;" href="/menu/sides">Sides</a>

</nav>